#content {
  position: relative;
  margin-top: 0;
  background-color: white;
  padding-top: 50px;
  height: 100%;
}

#profile-info {
  position: relative;
  text-align: center;
}

.PostedFlats h4{
  text-align: center;
}

#profile-name {
  color: #444;
  font-size: 26px;
}

#profile-image {
  display: block;
  border-radius: 100px;
  border: 1px solid #fff;
  width: 128px;
  height: 128px;
  margin: 0 auto 0;
  box-shadow: 0 0 4px rgba(0,0,0,0.7);
}

.PostedFlats {
  border-top-color: grey;
  border-top-style: solid;
  padding: 0;
  position: relative;
  margin-top: 50px
}

.list-item {
  color: #666666;
}

.myFlat{
  width: 100%;
}
