<ion-header class="ion-hide-lg-up">
  <ion-toolbar>
    <ion-title>preisvergleich</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-searchbar placeholder="Postleitzahl"></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title><img class="headerLogo" src="\assets\flattery_logo.png">Postleitzahl</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ul>
              <li>Durchschnittliche Gesamtbelastung: 550 Euro</li>
              <li>Kosten pro m2: 5 Euro</li>
            </ul>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title><img class="headerLogo" src="\assets\flattery_logo.png">Stadt</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ul>
              <li>Durchschnittliche Gesamtbelastung: 550 Euro</li>
              <li>Kosten pro m2: 5 Euro</li>
            </ul>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
