<ion-header class="ion-hide-lg-up">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Flattery Preisvergleich</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <form #form="ngForm" (ngSubmit)="returnDurchschnitt(form)">
            <ion-row justify-content-center>
                <ion-col>
                    <!-- Input with placeholder -->
                    <ion-input [(ngModel)]="city" name="Stadt" placeholder="Enter City" required="true"></ion-input>
                </ion-col>
                <ion-col>
                    <ion-button [disabled]="form.invalid" color="light" size="small" type="submit">Show Results
                    </ion-button>
                </ion-col>
            </ion-row>
        </form>
        <ion-row>
            <ion-col>
                <ion-card *ngFor="let c of cities" id="c{{c.cityName}}">
                    <ion-card-header>
                        <ion-card-title>
                            <img class="headerLogo" src="\assets\flattery_logo.png">{{c.cityName}}
                        </ion-card-title>
                    </ion-card-header>

                    <ion-card-content>
                        <ul>
                            <li>Gesamtbelastung: {{c.average}} Euro</li>
                            <li>Pro m2: {{c.averageSqM}} Euro</li>
                        </ul>
                    </ion-card-content>
                </ion-card>
                <ion-card *ngIf="count==0">
                    <ion-card-header>
                        <ion-card-title>
                            <img class="headerLogo" src="\assets\flattery_logo.png">Keine Ergebnisse. :(
                        </ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
