<ion-header class="ion-hide-lg-up">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Detail-Ansicht
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content *ngIf="wohnung">

    <div id="profile-bg"></div>
    <div id="content">
        <div id="profile-info">

            <div *ngIf="userID==wohnung.userID">
                <ion-button [routerLink]="['/wohnung/edit/', wohnung.id]" color="warning" fill="outline">
                    editieren
                    <ion-icon name="build" slot="end"></ion-icon>
                </ion-button>
            </div>

            <div *ngIf="!favoriteService.isInFavoriteList(wohnung.id,userID)">
                <ion-button (click)="addTofavorite(wohnung.id)" color="success" fill="outline">
                    zu den Favoriten hinzufügen
                    <ion-icon name="heart" slot="end"></ion-icon>
                </ion-button>
            </div>
            <div *ngIf="favoriteService.isInFavoriteList(wohnung.id,userID)">
                <ion-button (click)="removeFromFavorite(wohnung.id)" fill="outline">
                    aus den Favoriten entfernen
                    <ion-icon name="heart" slot="end"></ion-icon>
                </ion-button>
            </div>


            <img id="profile-image" src="\assets\flattery_logo.png">
            <h3 id="flat-name">{{wohnung.description}}</h3>
            <h5><i class="ion ion-email">Adresse: {{wohnung.address}}</i></h5>
            <h5><i class="ion ion-calendar">PLZ: {{wohnung.postalCode}}</i></h5>
            <h5>Stadt: {{wohnung.city}}</h5>
            <h5><i>Land: {{wohnung.country}}</i></h5>
            <h5><i>Miete: {{wohnung.rent}}&euro;</i></h5>
            <h5><i>Wohnfläche: {{wohnung.surfaceArea}} m²</i></h5>
            <h5><i>Zimmeranzahl: {{wohnung.roomCount}}</i></h5>
            <h5><i>Hinzugefügt am: {{wohnung.addedAt.dayOfMonth}}.{{wohnung.addedAt.monthValue}}
                .{{wohnung.addedAt.year}}</i></h5>
        </div>
    </div>

</ion-content>
