<ion-header class="ion-hide-lg-up">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Detailansicht</ion-title>
    </ion-toolbar>
</ion-header>
... <!-- content -->

<ion-content>

    <div id="profile-bg"></div>
    <div id="content">
        <div id="profile-info">
            <img id="profile-image" src="\assets\flattery_logo.png">
            <h3 id="profile-name">Beschreibung</h3>
            <h5><i class="ion ion-email"></i>Addresse</h5>
            <h5><i class="ion ion-calendar"></i>Stadt</h5>
            <h5><i></i>

                Postleitzahl
            </h5>
            <h5><i></i>Land</h5>
            <h5><i></i>Miete</h5>
            <h5><i></i>Fläche</h5>
            <h5><i></i>Anzahlzimmer</h5>
            <h5><i></i>Einstellungsdatum</h5>
            <p>Stadt: {{wohnung.city}}</p>
            <p>Miete: {{wohnung.rent}}&euro;</p>
        </div>
    </div>

</ion-content>
