<ion-header class="ion-hide-lg-up">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            {{wohnung.address}}
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content *ngIf="wohnung">

    <div id="profile-bg"></div>
    <div id="content">
        <div id="profile-info">
            <!-- @Todo Tobias Schraubeschlüssel für editieren -->
            <!-- @Todo ✅ Christian Schraubenschlüssel nur anzeigen wenn der aktuelle user  übereinstimmt -  (+usecase dokument )  --- erledigt -->

            <div *ngIf="userID==wohnung.userID">
                <ion-button [routerLink]="['/wohnung/edit/', wohnung.id]" color="success" fill="outline">
                    Edit
                    <ion-icon name="build" slot="end"></ion-icon>
                </ion-button>
            </div>

            <!-- @Todo Tobias Herzl für Favoriten -->
            <!-- @Todo Christian Herzl für Favoriten lauffähig machen -->
            <!-- @TODO Tobias  ausgabe des  wohnung.addedAt    | formater von ionic -->
            <img id="profile-image" src="\assets\flattery_logo.png">
            <h3 id="flat-name">{{wohnung.description}}</h3>
            <h5><i class="ion ion-email">Adresse: {{wohnung.address}}</i></h5>
            <h5><i class="ion ion-calendar">PLZ: {{wohnung.postalCode}}</i></h5>
            <h5>Stadt: {{wohnung.city}}</h5>
            <h5><i>Land: {{wohnung.country}}</i></h5>
            <h5><i>Miete: {{wohnung.rent}}&euro;</i></h5>
            <h5><i>Wohnfläche: {{wohnung.surfaceArea}} m²</i></h5>
            <h5><i>Zimmeranzahl: {{wohnung.roomCount}}</i></h5>
        </div>
    </div>

</ion-content>
