<ion-header class="ion-hide">
    <ion-toolbar>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form #form="ngForm" (ngSubmit)="login(form)">
        <ion-grid>
            <ion-row justify-content-center>
                <ion-col align-self-center size-lg="5" size-md="6" size-xs="12">
                    <div text-center>
                        <h4>Flattery Login</h4>

                        <!-- @TODO Christian Toast für Fehlermeldungen-->
                    </div>
                    <div padding>
                        <ion-item>
                            <ion-input [(ngModel)]="email" autocomplete="email" name="email" placeholder="Username"
                                       type="email"></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-input [(ngModel)]="password" name="password" placeholder="Password"
                                       type="password"></ion-input>
                        </ion-item>
                    </div>

                    <div padding>
                        <ion-button expand="block" size="large" type="submit">Login</ion-button>
                    </div>
                    <!-- @TODO Tobias umbau auf einen link  -->
                    <ion-button [routerLink]="['/register/']">
                        <div text-center>
                            <p>If you don't have an account yet, please register here!</p>
                        </div>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
