<ion-header class="ion-hide">
    <ion-toolbar>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form #form="ngForm" (ngSubmit)="login(form)">
        <ion-grid>
            <ion-row justify-content-center>
                <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                    <div text-center>
                        <h4>Bei Flattery anmelden</h4>
                    </div>
                    <div padding>
                        <ion-item>
                            <ion-input [(ngModel)]="email" autocomplete="email" name="email" placeholder="Username"
                                       email type="email"></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-input [(ngModel)]="password" name="password" placeholder="Passwort"
                                       type="password"></ion-input>
                        </ion-item>
                    </div>

                    <div padding>
                        <ion-button [disabled]="form.invalid" expand="block" size="large" type="submit">Anmelden
                        </ion-button>
                        <div text-center>
                            <p>Falls du keinen Flattery-Account besitzt, bitte <a [routerLink]="['/register/']">registriere
                                hier</a> einen Account</p>
                        </div>
                    </div>

                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
