<ion-header class="ion-hide-lg-up">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Erstelle dein Wohnungs-Inserat
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form #form="ngForm" (ngSubmit)="sendPostRequest(form)">
        <!-- Inputs with labels -->
        <ion-item>
            <ion-label position="floating"><p>Adresse</p></ion-label>
            <ion-input clearInput name="description" ngModel placeholder="Beschreibung der Wohnung"
                       required="true"></ion-input>
            <ion-input clearInput name="address" ngModel placeholder="Straße" required="true"></ion-input>
            <ion-input clearInput name="postalCode" ngModel placeholder="Postleitzahl" required="true"></ion-input>
            <ion-input name="city" ngModel placeholder="Stadt"></ion-input>
            <ion-input clearInput name="country" ngModel placeholder="Land" required="true"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating"><p>Details </p></ion-label>
            <ion-input clearInput name="rent" ngModel placeholder="Gesamtmiete" required="true"></ion-input>
            <ion-input clearInput name="surfaceArea" ngModel placeholder="m2" required="true"></ion-input>
            <ion-input clearInput name="roomCount" ngModel placeholder="Raumanzahl" required="true"></ion-input>
        </ion-item>


        <ion-button [disabled]="form.invalid" class="inseratButton" color="success" expand="full" type="submit">
            Inseriere Wohnung
        </ion-button>

    </form>
</ion-content>

