// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


ion-app {
  ion-split-pane {
    ion-menu {
      --width: 250px;
      ion-toolbar {
        --background: var(--ion-color-favorite);
      }
      ion-content{
        --background: var(--ion-color-favorite);
        ion-list{
          --background: var(--ion-color-favorite);
        }
        ion-item{
          --background: var(--ion-color-favorite);
          ion-icon{ padding-right: 10px}
        }
      }
    }
  }
}

ion-header{
  ion-toolbar{
    --background: var(--ion-color-favorite);
  }
}

.headerLogo{
  display: inline;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  margin-right: 32px;
  margin-left: 10px;
}

ion-footer{
  --background: var(--ion-color-favorite);
  padding: 0 0 0 0;
  margin: 0 0 0 0
}

.logOut{
  padding: 0 5px 0 5px;
  margin: 0 0 0 0
}

.sc-ion-buttons-md-h {
  display: block;
}

.cardHeaders{

  background-color: var(--ion-color-favorite);
  border-bottom: solid;
  border-bottom-color: lightgrey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  letter-spacing: 0.6px;
  word-spacing: 1.6px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;

}