<!-- @TODO Tobias - toolbar verstecken - erledigt -->
<ion-header class="ion-hide">
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form  #form="ngForm" (ngSubmit)="register(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Create your account!</h3>
          </div>
          <div padding>
            <!-- @Todo  ✅ Christian TOAST einbauen mit meldung - erledigt 🎉🥳 🍺🍺🍺-->
            <ion-item>
              <ion-input autocomplete="email" email name="email" ngModel placeholder="your@email.com" required
                         type="email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button  size="large" [disabled]="form.invalid" expand="block" type="submit">Register</ion-button>
            <!-- @TODO Tobias Link einbauen zurück zum Login - erledigt -->
            <div text-center>
              <p>If you already have a Flattery-Account, please <a [routerLink]="['/login/']">login</a> here!</p>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
