<ion-header class="ion-hide">
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form  #form="ngForm" (ngSubmit)="register(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Erstelle deinen Account!</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input autocomplete="email" email name="email" ngModel placeholder="your@email.com" required
                         type="email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" ngModel placeholder="Passwort" required type="password"></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button [disabled]="form.invalid" expand="block" size="large" type="submit">registrieren</ion-button>
            <div text-center>
              <p>Falls du bereits einen Flattery-Account besitzt, kannst <a [routerLink]="['/login/']"> hier
                anmelden</a></p>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
